node_modules/
npm-debug.log*
.env
logs
*.log
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock
dump/
*.lock
frontend/dist/
frontend/node_modules/
frontend/.vite/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
build/
